.column {
  width: 340px;
  min-width: 340px;
  height: fit-content;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.drop-zone {
  padding: 8px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
}

::ng-deep .mat-mdc-form-field .mat-mdc-input-element {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
