.navbar-light {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #e0e0e0;
  height: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

::ng-deep .mat-mdc-tab-nav-bar-active-indicator {
  height: 3px !important;
  border-radius: 3px 3px 0 0;
}

.mat-mdc-tab-link {
  height: 64px;
  font-weight: 500;
  opacity: 0.7;
}

.mat-mdc-tab-link.mdc-tab--active {
  opacity: 1;
  color: #3f51b5;
}
